<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>모두의 냉장고</title>
    <!-- ajax -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- Bulma CSS  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />

    <!-- Our Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index_style.css') }}"
    />

    <!-- <link rel="stylesheet" href="index_style.css"> -->

    <!-- Font Awesome JS -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
      integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
      integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper.JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      const Sort = {
        // BY_DATE: "recentdate",
        BY_EXPIRATION: "expiration",
        // BY_COUNT: "count"
      };

      let sortMode = Sort.BY_EXPIRATION;
      let myfridgeMode = false;

      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
          $(this).toggleClass("active");
        });
      });

      function logout() {
        // 로그아웃 요청을 서버로 보냄 (서버에서 쿠키를 사용하는 경우)
        $.ajax({
          type: "POST",
          url: "/logout",
          success: function (response) {
            window.location.href = "/";
          },
        });
      }

      // window.onload = () => {
      //     const token = localStorage.getItem('mytoken');
      //     if (!token) {
      //         // 토큰이 없거나 유효하지 않으면 로그인 페이지로 리다이렉트
      //         window.location.href = '/';
      //     }
      //     // 추가적으로, 서버에 토큰 유효성 검사 요청을 보내는 로직을 구현할 수도 있습니다.
      // };

      //   function showFood() {
      //     $("#cards-box").empty();
      //     $.ajax({
      //       type: "GET",
      //       url: "/index/list",
      //       data: { sortMode: sortMode },
      //       success: function (response) {
      //         if (response["result"] != "success") {
      //           alert(sortMode + "순으로 음식 목록 받아오기 실패");
      //           return;
      //         }
      //         alert("연결");
      //         let foods = response["foods-list"];
      //         addFoodCards(foods);
      //       },
      //     });
      //   }

      function addFoodCards(foods) {
        for (let i = 0; i < foods.length; i++) {
          let food = foods[i];
          let id = food["_id"];
          let food_name = food["food_name"];
          let food_image = food["food_image"];

          let expiration_year = food["expiration_year"];
          let expiration_month = food["expiration_month"];
          let expiration_day = food["expiration_day"];
          let food_count = food["food_count"];

          let name = food["name"];
          let refrigerator_floor = food["refrigerator_floor"];
          let room_number = food["room_number"];
          let memo = food["memo"];
          console.log(memo);

          let cardContentHtml = `
                    <div class="card">
                        <img class="card-img-top"
                            src="./static/${food_image}"alt="Card image cap">

                        <div class="card-body">
                            <p class = "food-name"> 음식 이름: ${food_name}</p>
                            <p class="food-expiration">유통기한: ${expiration_year}.${expiration_month}.${expiration_day}</p>
                            <p class="user-addr">호수: ${room_number}</p>
                            <p class="user-name">주민이름: ${name}</p>
                            <p class="user-name">음식 개수: ${food_count}</p>
                            <p class="user-memo">메모: </p>
                            <div class="box" style= "background-color: rgb(211, 246, 255);">
                                ${memo}
                            </div>
                            <button type="button" onclick="foodApply('${id}', '${refrigerator_floor}')" class="btn btn-outline-primary" id = "subscription5">신청하기</button>
                        </div>
                    </div>
                `;
          $("#cards-box").append(cardContentHtml);
        }
      }

      function changeFloorText(element) {
        // 클릭된 요소에서 data-floor 속성 값 가져오기
        floor = element.getAttribute("data-floor");
        // 현재 층을 나타내는 버튼의 텍스트 업데이트
        document.querySelector(".alert.alert-primary").textContent =
          floor + "층";
        showFood(floor);
      }

      function showFood(floor) {
        $("#cards-box").empty();
        $.ajax({
          type: "GET",
          url: "/index/list",
          data: { floor: floor },
          success: function (response) {
            if (response["result"] != "success") {
              alert(floor + "음식 목록 받아오기 실패");
              return;
            }
            let foods = response["foods-list"];
            addFoodCards(foods);
          },
        });
      }
      // document.getElementById('current-floor-btn').textContent = floor + '층';

      function foodApply(foodId, floor) {
        console.log(foodId);
        $.ajax({
          type: "POST",
          url: "/api/apply",
          data: {
            apply_foodid_give: foodId,
          },
          success: function (response) {
            if (response["result"] == "success") {
              alert("신청하기 완료!");
              showFood(floor);
            } else {
              alert("신청하기 실패ㅠㅠ");
            }
          },
        });
      }
    </script>
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>모두의 냉장고</h3>
        </div>

        <ul class="list-unstyled components">
          <p>층별 선택</p>
          <div>
            {% for floor in floors %}
            <li>
              <a
                href="#"
                data-floor="{{ floor }}"
                onclick="changeFloorText(this);"
                >{{ floor }}층</a
              >
            </li>
            {% endfor %}
          </div>
        </ul>
      </nav>

      <!-- Page Content Holder -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
            </button>

            <p class="title-top">모두의 냉장고</p>

            <div
              class="alert alert-primary"
              role="alert"
              id="current-floor-btn"
              style="width: 80px; text-align: center"
            >
              {{ roomFloor }}층
            </div>
            <div>
              <button
                type="button"
                class="btn btn-danger alert-danger"
                id="logout-btn"
                style="width: 80px; text-align: center"
                onclick="logout()"
              >
                logout
              </button>
            </div>
          </div>
        </nav>

        <div class="wrap-main">
          <div class="user-contents">
            <div class="circle-box" style="background: #bdbdbd">
              <img
                class="profile"
                src="https://mblogthumb-phinf.pstatic.net/MjAyMDEyMjBfMjU4/MDAxNjA4NDUxOTk3Mjk2.W88f9Phe4d6mo48vpWuZQ9e9R4CvARFvZEoBW9irbXYg.UWAbicHtrZc1hrgYt38Fp79LOnbMhQ6_hcttqmEu79gg.JPEG.goodmanddo/%EC%9B%83%EA%B8%B4_%EC%B9%B4%ED%86%A1%ED%94%84%EC%82%AC_%EA%B8%B0%EB%B3%B8.jpg?type=w800"
              />
            </div>
            <div class="hello-user">
              <h4>안녕하세요</h4>
              <h4>{{user_info.name}}님!</h4>
              <h3>{{user_info.room_number}}호</h3>
              <p style="font-size: 15px">
                등록한 음식: {{user_info.food_count}}개
              </p>
            </div>

            <button
              type="button"
              class="btn btn-outline-primary"
              id="myfridge_btn"
            >
              마이냉장고
            </button>
            <a
              href="/registration"
              class="btn btn-primary"
              id="registration_btn"
              >등록하기</a
            >
          </div>
          <div class="main-contents">
            <div class="tabs">
              <ul>
                <li class="is-active"><a>최신순</a></li>
                <li><a>유통기한 낮은순</a></li>
                <li><a>개수 적은순</a></li>
              </ul>
            </div>
            <p></p>
            <!-- cards-box -->
            <div id="cards-box" class="card-columns">
              {% for food in foods %}
              <div class="card">
                <img
                  class="card-img-top"
                  src="./static/{{food.food_image}}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <p class="food-name">음식 이름: {{ food.food_name }}</p>
                  <p class="food-expiration">
                    유통기한: {{ food.expiration_year }}.{{
                    food.expiration_month }}.{{ food.expiration_day }}
                  </p>
                  <p class="user-addr">호수: {{ food.room_number }}</p>
                  <p class="user-name">주민이름: {{ food.name }}</p>
                  <p class="user-name">음식 개수: {{ food.food_count }}</p>
                  <p class="user-memo">메모:</p>
                  <div class="box" style="background-color: rgb(211, 246, 255)">
                    {{food.memo}}
                  </div>
                  <button
                    type="button"
                    onclick="foodApply('{{food._id}}', '{{food.refrigerator_floor}}')"
                    class="btn btn-outline-primary"
                    id="subscription5"
                  >
                    신청하기
                  </button>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- cards-box -->
          </div>
        </div>
      </div>
      <!-- 페이지 컨텐츠 -->
    </div>
    <!-- div wrraper -->
  </body>
</html>
